*{
    margin: 0;
    border: 0;
    padding: 0;

}
.cabecalho{
    width: 100%;
    height: 200px;
    background-color: rgb(241, 113, 113);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.barradepesquisa{
    width: 450px;
    height: 30px;
}
.icons{
    width: 200px;
    height: 200px;
}
.icons2{
    width: 120px;
    height: 120px;
}
.primeiralinha{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.segundalinha{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    height: 540px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    gap: 30px;
    margin-top: 30px;
}
.rodape{
    width: 100%;
    height: 50px;
    background-color: rgb(241, 113, 113);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.ingressos{
    height: 450px;
    width: 400px;
}
.ingressos:hover{
    scale: 1.2;
    border: 4px rgb(0, 0, 0) solid;

}
